.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xxs);
}

.label {
  font-size: var(--mantine-font-size-sm);
  font-weight: var(--mantine-font-weight-medium);
  color: var(--mantine-color-neutral-9);
  display: block;
  margin-top: var(--mantine-spacing-xs);
  margin-left: var(--mantine-spacing-xxxs);
  text-align: left;
  line-height: var(--mantine-line-height-sm);
}

.error {
  font-size: var(--mantine-font-size-xs);
  color: var(--error-text);
  text-align: left;
  margin-left: var(--mantine-spacing-xxxs);
}

.search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 8.5 / 1;
  color: var(--mantine-color-neutral-7);
  background-color: var(--mantine-color-neutral-0);
  border: 1px solid var(--mantine-color-neutral-4);
  border-radius: var(--mantine-radius-xs);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height-xs);
  min-height: 40px;
}

.search:hover {
  color: var(--mantine-color-neutral-7);
  background-color: var(--mantine-color-neutral-2);
  border: 1px solid var(--mantine-color-neutral-6);
}

.search:focus {
  color: var(--mantine-color-neutral-8);
  background-color: var(--mantine-color-ubhBlue-1);
  border: 1px solid var(--mantine-color-ubhBlue-8);
}

.search:not(:placeholder-shown) {
  color: var(--mantine-color-neutral-9);
  background-color: var(--success-bg1);
  border: 1px solid var(--mantine-color-neutral-6);
}

.search[data-error] {
  color: var(--mantine-color-neutral-9);
  background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  box-shadow: var(--mantine-shadow-error);
}

.search.loading {
  color: var(--mantine-color-neutral-9);
  background-color: var(--mantine-color-neutral-1);
  border: 1px solid var(--mantine-color-neutral-5);
}

.clearButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--mantine-color-neutral-7);
  transition: color 0.15s ease;
}

.clearButton:hover {
  color: var(--mantine-color-neutral-8);
}

.clearButton:focus,
.clearButton:focus-visible {
  color: var(--mantine-color-ubhBlue-8);
}
