.root {
  border-radius: var(--mantine-radius-xs);
}

/* default variant */
.default {
  background-color: #941f1f;
  color: white;
}

.default:hover {
  background-color: #620000;
}

.default:active {
  background-color: #be2525;
}

/* outlined variant */
.outlined {
  background-color: transparent;
  border: 1px solid #941f1f;
  color: #941f1f;
}

.outlined:hover {
  background-color: transparent;
  border-color: #620000;
  color: #620000;
}

.outlined:active {
  background-color: transparent;
  border-color: #be2525;
  color: #be2525;
}

/* text variant */
.text {
  background-color: transparent;
  color: #941f1f;
}

.text:hover {
  background-color: transparent;
  color: #620000;
}

.text:active {
  background-color: transparent;
  color: #be2525;
}

/* disabled — default */
.default:disabled,
.default[data-disabled] {
  background-color: #c9c9c9;
  color: white;
  cursor: not-allowed;
}

/* disabled — outlined */
.outlined:disabled,
.outlined[data-disabled] {
  background-color: transparent;
  border-color: #c9c9c9;
  color: #c9c9c9;
  cursor: not-allowed;
}

/* disabled — text */
.text:disabled,
.text[data-disabled] {
  background-color: transparent;
  color: #c9c9c9;
  cursor: not-allowed;
}