.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xxs);
}

.label {
  font-size: var(--mantine-font-size-sm);
  font-weight: var(--mantine-font-weight-medium);
  color: var(--mantine-color-neutral-9);
  display: block;
  margin-top: var(--mantine-spacing-xs);
  margin-left: var(--mantine-spacing-xxxs);
  text-align: left;
  line-height: var(--mantine-line-height-sm);
}

.error {
  font-size: var(--mantine-font-size-xs);
  color: var(--error-text);
  text-align: left;
  margin-left: var(--mantine-spacing-xxxs);
}

.input {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 8.5 / 1;
  color: var(--mantine-color-neutral-7);
  background-color: var(--mantine-color-neutral-0);
  border: 1px solid var(--mantine-color-neutral-4);
  border-radius: var(--mantine-radius-xs);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height-xs);
  min-height: 40px;
}

.input:hover {
  color: var(--mantine-color-neutral-7);
  background-color: var(--mantine-color-neutral-2);
  border: 1px solid var(--mantine-color-neutral-6);
}

.input:focus {
  color: var(--mantine-color-neutral-8);
  background-color: var(--mantine-color-ubhBlue-1);
  border: 1px solid var(--mantine-color-ubhBlue-8);
}

.input:not(:placeholder-shown) {
  color: var(--mantine-color-neutral-9);
  background-color: var(--success-bg1);
  border: 1px solid var(--mantine-color-neutral-6);
}

.input[data-error] {
  color: var(--mantine-color-neutral-9);
  background-color: var(--error-bg);
  border: 1px solid var(--error-border);
  box-shadow: var(--mantine-shadow-error);
}

.input.loading {
  color: var(--mantine-color-neutral-9);
  background-color: var(--mantine-color-neutral-1);
  border: 1px solid var(--mantine-color-neutral-5);
}

.input:disabled,
.input[data-disabled] {
  color: var(--mantine-color-neutral-8);
  -webkit-text-fill-color: var(--mantine-color-neutral-8);
  background-color: var(--mantine-color-neutral-2);
  border: 1px solid var(--mantine-color-neutral-6);
  cursor: not-allowed;
}

.controls {
  background-color: var(--mantine-color-neutral-4);
  border-radius: 0 7px 7px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.control {
  color: var(--mantine-color-neutral-9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.control:hover {
  color: var(--mantine-color-ubhBlue-8);
  background-color: var(--mantine-color-ubhBlue-1);
}

.control:disabled,
.control[data-disabled] {
  color: var(--mantine-color-neutral-8);
  background-color: var(--mantine-color-neutral-3);
  cursor: not-allowed;
}

.control:first-child {
  border-radius: 0 7px 0 0;
}

.control:last-child {
  border-radius: 0 0 7px 0;
}
