*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --error-text: #cc0000;
  --error-bg: #fef5f5;
  --error-border: #e57373;
  --error-shadow: #941f1f;

  --success-text: #2e7d32;
  --success-bg1: #f8fcf8;
  --success-bg2: #e8f5e8;
  --success-border: #4caf50;
  --success-shadow: #2e7d32;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
  padding: 24px;
  text-align: left;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

img, svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
